{{extend 'layout.html'}}
{{block header}}
<meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
{{end}}

<div id="reactRoot">
    You can put loading ui here...
    {{#    This div will be replaced by the react App loaded by the designated bundle.js }}
</div>
<br></br>


<script>
    {{#   Attach a serialized version of the props (sent from controller) to the javascript window. }}
    {{#   React App can use it if desired }}
    {{#   Note: copied this approach from https://github.com/jredrejo/web2pyreactpoc}}
    window.props = {{ =XML(props)}};
    window.reactRoot = document.getElementById('reactRoot');
</script>

{{block page_js}}
    <script src="{{=URL('static', reactBundle)}}"></script>
    {{super}}
{{end}}

{{=response.toolbar()}}