/* Used in display_form example */
.inputName {
    color: green;
}


/* Some customizations of web2py styles just because */
.web2py_console {
    text-align: center ;
}

.form-control-label {
    color: darkorange;
}

.web2py_grid tbody td {
    padding: 0;
}

.web2py_grid .row_buttons {
    text-align: right;
}

.with_id {
    text-align: center;
}

.w2p_export_menu {
    text-align: center;
}

.web2py_table {
    padding-bottom: 24px;
}

.main-container {
    padding-left:40px;
    padding-right:40px;
}

.readmeDiv {
    padding-left:80px;
    padding-right:80px;
}

.readmeDiv p {
    margin-top: 20px;
    margin-bottom: 20px;
}


.readmeDiv code {
    background-color: #f6f8fa;
    padding: 20px;
    border-radius: 5px;
    line-height: 3.0;
    /* color:#24292e; */
}